$darkrose : #8B575C;
$lightrose: #C98986;

body{
    margin: 0;
    
    h1, h2, h3, h4, h5, h6{
         font-family: 'Oswald', sans-serif;
     }
}
header{
    background-image: url(../images/temple-2.jpg);
     
    margin: 0%;
    max-width: 100%;
    height: 150px;
    /* Location of the image */
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn’t tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn’t move when
    the content’s height is greater than the image’s height */
    background-attachment:scroll;
    
    /* This is what makes the background image rescale based
    on the container’s size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
    color:white;
    

    position: relative;
    .ham{
        color: white;
        text-decoration: none;
        font-size: 32px;
        position: absolute;
        right:10px;
        top:57px;
    }
    h1{
        position: absolute;
        top:40px;
        left:10px;
        font-size: 25px;
    }
}
nav ul{
         text-decoration: none;
         list-style: none;
         padding: 0;
         margin: 0;
         font-family: 'Oswald', sans-serif;
     }
     #navigation li{
        display:none;
    }
    #navigation a{
        display:block;
        text-align: left;
        background-color: $darkrose;
        text-decoration: none;
        font-weight: 700;
        color: white;
        padding: 10px 20px;
    }
    
    #navigation a:hover, #navigation a.active:hover{
        color:white;
        background-color:$lightrose;
    }
    
    
    #navigation a.active {
        background-color: $lightrose;
        color: white;
        text-decoration: underline;
    }
    
    #navigation.responsive li {
        display:block;
    }

    nav{
        background-color: $darkrose;
    }
main{
    max-width: 90%;
    margin: 0 auto;
    div{
        margin-top: 40px;
     }
     
}
// SERVICES PAGE
.services{
    margin: 0 auto;
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}

// TEMPLE PAGE
.temple:hover{
    box-shadow: 5px 5px 15px grey;
}
#temple-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.temple {
    margin: 20px;
    max-width: 90%;
    box-shadow: 3px 3px 15px gainsboro;
    img{
        width:100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}


.first{
    margin-bottom: 40px;
}

// HOME PAGE

#gilbert{
    border-radius: 30px;
    box-shadow: 3px 3px 15px gainsboro;
    width: 90%;
    margin: 0 auto;
    h2 {
        margin:20px
    }
    p{
        margin: 20px;
        padding-bottom: 20px;
    }
    img{
        border-radius: 30px 30px 0px 0px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
}}
#two-img{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    a{
        display: grid;
        color:white;
        max-width: 99%;
        margin: 20px auto;

        img{
            width: 400px;
            height: 200px;
            object-fit: cover;
            position: relative;
            justify-self: center;
        }
        div {
            position: absolute;
        }
    }
    a:first-of-type div{
        max-width: 200px;
        justify-self: center;
        bottom: 260px;
        
    }
    a:last-of-type div{
        max-width: 200px;
        justify-self: center;
        top: 220px;
        }
    a:hover{
        box-shadow: 1px 1px 10px gainsboro;
    }
   
}

// RESERVATIONS PAGE

form{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;

    .item{
        margin: 0 auto;
        width:200px;
    }
}

@media only screen and (min-width:38em){
    #navigation{
        grid-template-columns: repeat(4,auto);
        max-width: 800px;
        padding: 0;
    }

    #navigation li {
        display: block;
    }

    // RESERVATIONS PAGE

form{
    
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;

    .item{
        margin: 0 auto;
        width:400px;
    }
}
   
}
@media only screen and (min-width:53em){
main{
    max-width: 1000px;
}
 #navigation a {
        text-align: center;
    }
header{
    .ham{
        display: none;
    }
    h1{
        position: absolute;
        bottom:15%;
        left: 1%;
        font-size: 40px;
    }
}
#two-img{
    grid-template-columns: 1fr 1fr;
    margin-bottom: 125px;
    margin-top: 20px;
    a{
        border-radius: 30px;
        max-width: 400px;
        margin: 50px auto 40px auto;
        img{ 
        border-radius: 30px;
        width:400px;
        height: 400px;
        object-fit: cover;
        }


    }
    a:first-of-type div{
        max-width: 200px;
        justify-self: center;
        top:90px;
        
    }
    a:last-of-type div{
        max-width: 200px;
        justify-self: center;
        top:90px;
        }

    a:hover{
        box-shadow: 1px 1px 10px gainsboro;
    }
   
}
#reserve-div{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr .7fr;
    p{
        margin-left: 70px;
    }
    button{
        width: 200px;
        height: 50px;
        cursor: pointer;
        justify-self: center;
        margin-top: 16px;
    }
}
#gilbert{
    width: 100%;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    background-color: $darkrose;
    padding: 10px;
    margin: 0 auto;
    

    li{
        justify-self: center;
       
    }
    li a{
        font-family: 'Oswald', sans-serif;
        display: inline-block;
        max-width: 100px;
        color: white;
        text-decoration: none;
    }
    li a:hover{
        color: #ffffffde;
        text-decoration: underline;
    }
}

footer{
    background-color: $darkrose;
    margin: 0;
    padding: 10px;
}

#contact{
    padding: 20px;
    background-color: $lightrose;
}
}

