@charset "UTF-8";
body {
  position: relative;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Oswald', sans-serif;
}

footer {
  background-color: #8B575C;
  margin: 0;
  padding: 10px;
}

header {
  margin: 0%;
  max-width: 100%;
  height: 80px;
  /* Set a background color that will be displayed
    while the background image is loading */
  background-color: #8B575C;
  color: white;
  position: -webkit-sticky;
  position: sticky;
}

header .ham {
  color: white;
  text-decoration: none;
  font-size: 32px;
  position: absolute;
  right: 10px;
  top: 22px;
}

header h1 {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 25px;
}

nav ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

#navigation li {
  display: none;
}

#navigation a {
  display: block;
  text-align: left;
  background-color: #8B575C;
  text-decoration: none;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
}

#navigation a:hover, #navigation a.active:hover {
  color: white;
  background-color: #C98986;
}

#navigation a.active {
  background-color: #C98986;
  color: white;
  text-decoration: underline;
}

#navigation.responsive li {
  display: block;
}

nav {
  background-color: #8B575C;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

main p {
  font-size: 12px;
  margin: 40px auto;
}

main div {
  margin-top: 40px;
}

.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 50px;
}

.service a, .service a:active {
  text-decoration: none;
  color: black;
}

.service div:hover, .service a:hover {
  -webkit-box-shadow: 3px 3px 5px #c9c9c9;
          box-shadow: 3px 3px 5px #c9c9c9;
}

.service div, .service a {
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 3px gainsboro;
          box-shadow: 1px 1px 3px gainsboro;
  border-radius: 30px;
}

.service div h5, .service a h5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.service div p, .service a p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.services {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.services img {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.material-icons-outlined.md-48 {
  font-size: 30px;
  color: #C98986;
}

.amenities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  text-align: center;
}

.amenities div {
  width: 90px;
}

.amenities div p {
  font-size: 12px;
  margin: 3px auto;
}

.amenities div:last-of-type {
  margin-bottom: 40px;
}

.temple:hover {
  -webkit-box-shadow: 5px 5px 15px grey;
          box-shadow: 5px 5px 15px grey;
}

#temple-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.temple {
  margin: 20px;
  max-width: 90%;
  -webkit-box-shadow: 3px 3px 15px gainsboro;
          box-shadow: 3px 3px 15px gainsboro;
  border-radius: 30px;
}

.temple img {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.temple h2, .temple h4, .temple p {
  margin-left: 20px;
}

.temple div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 0;
}

.temple div p {
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 0;
}

.first {
  margin-bottom: 40px;
}

#reserve-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 10px;
}

#reserve-div p {
  max-width: 300px;
  margin: 10px auto;
}

#reserve-div button {
  padding: 15px;
  border: none;
  color: white;
  background-color: #C98986;
  border-radius: 30px;
  font-size: 10px;
  margin: 0 auto;
  height: 50px;
  cursor: pointer;
}

#reserve-div button:hover {
  background-color: #8B575C;
}

#gilbert {
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 15px gainsboro;
          box-shadow: 3px 3px 15px gainsboro;
  width: 90%;
  margin: 0 auto;
}

#gilbert h2 {
  margin: 20px;
}

#gilbert p {
  margin: 20px;
  padding-bottom: 20px;
}

#gilbert img {
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#two-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

#two-img a {
  display: -ms-grid;
  display: grid;
  color: white;
  max-width: 99%;
  margin: 20px auto;
  border-radius: 30px;
}

#two-img a img {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
}

#two-img a div {
  position: absolute;
}

#two-img a:first-of-type div {
  max-width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  bottom: 260px;
}

#two-img a:last-of-type div {
  max-width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 220px;
}

#two-img a:hover {
  -webkit-box-shadow: 5px 5px 10px #b3b1b1;
          box-shadow: 5px 5px 10px #b3b1b1;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 50px auto;
}

form .item {
  margin: 0 auto;
  width: 200px;
}

@media only screen and (min-width: 38em) {
  header {
    background-image: url(../images/temple-2.jpg);
    margin: 0%;
    max-width: 100%;
    height: 150px;
    /* Location of the image */
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn’t tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn’t move when
        the content’s height is greater than the image’s height */
    background-attachment: scroll;
    /* This is what makes the background image rescale based
        on the container’s size */
    background-size: cover;
    /* Set a background color that will be displayed
        while the background image is loading */
    background-color: #464646;
    color: white;
    position: relative;
  }
  header .ham {
    color: white;
    text-decoration: none;
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: 57px;
  }
  header h1 {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 25px;
  }
  #navigation {
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    max-width: 1000px;
    padding: 0;
  }
  #navigation li {
    display: block;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  form section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 1000px;
    -webkit-box-shadow: 1px 1px 4px gainsboro;
            box-shadow: 1px 1px 4px gainsboro;
    border-radius: 30px;
  }
  form .item {
    margin: 0 auto;
    width: 400px;
  }
  #res-img {
    background-image: url("../images/reservation.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 300px;
    margin: 30px auto;
  }
  .material-icons-outlined.md-48 {
    font-size: 35px;
  }
  .service {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .amenities {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .amenities div {
    width: 100px;
  }
}

@media only screen and (min-width: 53em) {
  main {
    max-width: 1000px;
  }
  main p {
    font-size: 16px;
  }
  #navigation a {
    text-align: center;
  }
  header .ham {
    display: none;
  }
  header h1 {
    position: absolute;
    bottom: 15%;
    left: 1%;
    font-size: 40px;
  }
  #two-img {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 125px;
    margin-top: 20px;
  }
  #two-img a {
    border-radius: 30px;
    max-width: 400px;
    margin: 50px auto 40px auto;
  }
  #two-img a img {
    border-radius: 30px;
    width: 400px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #two-img a:first-of-type div {
    max-width: 200px;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 90px;
  }
  #two-img a:last-of-type div {
    max-width: 200px;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 90px;
  }
  #two-img a:hover {
    -webkit-box-shadow: 2px 2px 8px #9c9c9c;
            box-shadow: 2px 2px 8px #9c9c9c;
  }
  #reserve-div {
    margin-top: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .7fr;
        grid-template-columns: 1fr .7fr;
  }
  #reserve-div p {
    margin-left: 70px;
  }
  #reserve-div button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 16px;
  }
  #gilbert {
    width: 100%;
  }
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    background-color: #8B575C;
    padding: 10px;
    margin: 0 auto;
  }
  nav ul li {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav ul li a {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    max-width: 100px;
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #ffffffde;
    text-decoration: underline;
  }
  .material-icons-outlined.md-48 {
    font-size: 38px;
  }
  .amenities {
    -ms-grid-columns: (auto)[8];
        grid-template-columns: repeat(8, auto);
  }
  .amenities div {
    width: 100px;
  }
  .services p {
    font-size: 14px;
  }
  #contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #contact h2 {
    grid-column: 1/-1;
  }
  #contact div {
    margin-bottom: 0;
    margin-top: 18px;
  }
  #contact div h4 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #contact div p {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  #contact iframe {
    margin-top: 20px;
  }
  #contact form {
    grid-column: 1/-1;
    margin-top: 40px;
    margin-left: 0;
    -webkit-box-shadow: 2px 2px 5px gainsboro;
            box-shadow: 2px 2px 5px gainsboro;
    border-radius: 30px;
    width: 1000px;
  }
  #contact form div:last-of-type {
    margin-bottom: 20px;
  }
  #contact form div {
    margin-left: 20px;
  }
  #contact form div p {
    margin-left: 0;
  }
  #contact form button {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=home.css.map */