body {
  position: relative;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Oswald', sans-serif;
}

footer {
  background-color: #774b4f;
  margin: 0;
  padding: 10px;
}

footer p {
  text-align: center;
}

nav a img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 240px 30px;
      grid-template-columns: 50px 240px 30px;
  gap: 10px;
  padding: 10px;
}

nav h1 {
  margin: 0;
  color: white;
}

nav .ham, nav .ham:active {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

button {
  padding: 15px;
  border: none;
  color: white;
  background-color: #C98986;
  border-radius: 30px;
  font-size: 13px;
  margin-left: 30px;
  cursor: pointer;
  text-transform: uppercase;
}

button a, button a:active {
  text-decoration: none;
  color: white;
  padding: 15px;
}

button:hover {
  background-color: #774b4f;
}

nav ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

#navigation li {
  display: none;
}

#navigation a {
  display: block;
  text-align: left;
  background-color: #774b4f;
  text-decoration: none;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
}

#navigation a:hover, #navigation a.active:hover {
  color: white;
  text-decoration: underline;
}

#navigation a.active {
  color: white;
  text-decoration: underline;
}

#navigation.responsive li {
  display: block;
}

nav {
  background-color: #774b4f;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

main p {
  font-size: 12px;
  margin: 40px auto;
}

main div {
  margin-top: 40px;
}

.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 50px;
}

.service a, .service a:active {
  text-decoration: none;
  color: black;
}

.service div:hover, .service a:hover {
  -webkit-box-shadow: 3px 3px 5px #c9c9c9;
          box-shadow: 3px 3px 5px #c9c9c9;
}

.service div, .service a {
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 3px gainsboro;
          box-shadow: 1px 1px 3px gainsboro;
  border-radius: 30px;
}

.service div h5, .service a h5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.service div p, .service a p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.services {
  margin: 40px auto 0px auto;
  width: 100%;
  position: relative;
}

.services img {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.material-icons-outlined.md-48 {
  font-size: 30px;
  color: #C98986;
}

.amenities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  text-align: center;
}

.amenities div {
  width: 90px;
}

.amenities div p {
  font-size: 12px;
  margin: 3px auto;
}

.amenities div:last-of-type {
  margin-bottom: 40px;
}

#five-day {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

#five-day .card-weather {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 95%;
  border-radius: 30px;
  margin: 0px auto;
  -webkit-box-shadow: 3px 3px 15px gainsboro;
          box-shadow: 3px 3px 15px gainsboro;
}

#five-day .card-weather:hover {
  -webkit-box-shadow: 5px 5px 15px grey;
          box-shadow: 5px 5px 15px grey;
}

#five-day .card-weather:nth-of-type(2), #five-day .card-weather:nth-of-type(3), #five-day .card-weather:nth-of-type(4) {
  display: none;
}

#five-day p {
  margin-top: 5px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 62%;
  width: auto;
  margin-top: -30px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #C98986;
}

.next {
  position: absolute;
  right: 5px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #774b4f;
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #C98986;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #774b4f;
}

.temple:hover {
  -webkit-box-shadow: 5px 5px 15px grey;
          box-shadow: 5px 5px 15px grey;
}

#temple-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.temple {
  margin: 20px auto;
  width: 95%;
  -webkit-box-shadow: 3px 3px 15px gainsboro;
          box-shadow: 3px 3px 15px gainsboro;
  border-radius: 30px;
}

.temple img {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.temple h4, .temple p {
  margin-left: 20px;
  margin-bottom: 10px;
}

.temple h2 {
  background-color: #774b4f;
  padding: 13px;
  margin: 0;
  color: white;
}

.temple div {
  margin-top: 0;
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.temple div h4 {
  grid-column: 1/-1;
}

.temple div p {
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 0;
}

.temple .contact-div {
  margin-bottom: 20px;
}

.temple .contact-div p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-left: 20px;
}

.temple .contact-div p:first-of-type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-left: 20px;
}

.temple .contact-div p:nth-of-type(2) {
  margin-left: 20px;
  margin-top: 10px;
}

.temple:nth-of-type(2), .temple:nth-of-type(3), .temple:nth-of-type(4) {
  display: none;
}

.service-div p {
  grid-column: 1/-1;
}

#reserve-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 10px;
}

#reserve-div p {
  max-width: 300px;
  margin: 10px auto;
}

#reserve-div button {
  padding: 15px;
  border: none;
  color: white;
  background-color: #C98986;
  border-radius: 30px;
  font-size: 10px;
  margin: 0 auto;
  height: 50px;
  cursor: pointer;
}

#reserve-div button:hover {
  background-color: #774b4f;
}

#gilbert {
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 15px gainsboro;
          box-shadow: 3px 3px 15px gainsboro;
  width: 90%;
  margin: 40px auto 0 auto;
}

#gilbert h2 {
  margin: 20px;
}

#gilbert p {
  margin: 20px;
  padding-bottom: 20px;
}

#gilbert img {
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#two-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

#two-img a {
  display: -ms-grid;
  display: grid;
  color: white;
  max-width: 99%;
  margin: 20px auto;
  border-radius: 30px;
}

#two-img a img {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
}

#two-img a div {
  position: absolute;
}

#two-img a:first-of-type div {
  max-width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  bottom: 260px;
}

#two-img a:last-of-type div {
  max-width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 220px;
}

#two-img a:hover {
  -webkit-box-shadow: 5px 5px 10px #b3b1b1;
          box-shadow: 5px 5px 10px #b3b1b1;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 50px auto;
}

form .item {
  margin: 0 auto;
  width: 200px;
}

#res-img {
  background-image: url(../images/reservation.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #464646;
  color: white;
  margin: 0%;
  max-width: 100%;
  height: 250px;
  padding-top: 20px;
}

#res-img h1 {
  font-size: 40px;
  position: relative;
  margin-left: 20px;
}

#res-img p {
  max-width: 500px;
  margin-left: 30px;
}

#index-h {
  background-image: url(../images/temple-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #464646;
  color: white;
  margin: 0%;
  max-width: 100%;
  height: 400px;
  padding-top: 20px;
}

#index-h h1 {
  font-size: 40px;
  position: relative;
  margin-left: 20px;
}

#index-h p {
  max-width: 500px;
  margin-left: 30px;
}

#temple-h {
  background-image: url(../images/temple.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #464646;
  color: white;
  margin: 0%;
  max-width: 100%;
  height: 400px;
  padding-top: 20px;
}

#temple-h h1 {
  font-size: 40px;
  position: relative;
  margin-left: 20px;
}

#temple-h p {
  max-width: 500px;
  margin-left: 30px;
}

#temple-h p a, #temple-h p a:active {
  color: white;
}

@media only screen and (min-width: 38em) {
  #res-img {
    height: 400px;
  }
  .ham {
    display: none;
  }
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .2fr 1fr 1fr;
        grid-template-columns: .2fr 1fr 1fr;
    padding: 5px;
  }
  nav h1 {
    margin: 5px 0 5px 0;
    -ms-grid-column-align: start;
        justify-self: start;
    color: white;
  }
  nav img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: block;
    margin-left: 20px;
  }
  #navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    max-width: 400px;
    padding: 0;
  }
  #navigation li {
    display: block;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  form section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 1000px;
    -webkit-box-shadow: 1px 1px 4px gainsboro;
            box-shadow: 1px 1px 4px gainsboro;
    border-radius: 30px;
    margin-bottom: 40px;
  }
  form .item {
    margin: 0 auto;
    width: 400px;
  }
  form .item:last-of-type {
    margin-bottom: 50px;
  }
  .material-icons-outlined.md-48 {
    font-size: 35px;
  }
  .service {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .amenities {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .amenities div {
    width: 100px;
  }
}

@media only screen and (min-width: 53em) {
  main {
    max-width: 1000px;
  }
  main p {
    font-size: 16px;
  }
  #navigation a {
    text-align: center;
  }
  #navigation {
    max-width: 500px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  header .ham {
    display: none;
  }
  #two-img {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 125px;
    margin-top: 20px;
  }
  #two-img a {
    border-radius: 30px;
    max-width: 400px;
    margin: 50px auto 40px auto;
  }
  #two-img a img {
    border-radius: 30px;
    width: 400px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #two-img a:first-of-type div {
    max-width: 200px;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 90px;
  }
  #two-img a:last-of-type div {
    max-width: 200px;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 90px;
  }
  #two-img a:hover {
    -webkit-box-shadow: 2px 2px 8px #9c9c9c;
            box-shadow: 2px 2px 8px #9c9c9c;
  }
  #reserve-div {
    margin-top: 50px;
    margin-bottom: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .7fr;
        grid-template-columns: 1fr .7fr;
  }
  #reserve-div p {
    margin-left: 70px;
  }
  #reserve-div button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 16px;
    font-size: 14px;
    text-transform: uppercase;
  }
  #gilbert {
    width: 100%;
  }
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
  }
  nav ul li {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav ul li a {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    max-width: 100px;
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #ffffffde;
    text-decoration: underline;
  }
  .material-icons-outlined.md-48 {
    font-size: 38px;
  }
  .amenities {
    -ms-grid-columns: (auto)[8];
        grid-template-columns: repeat(8, auto);
  }
  .amenities div {
    width: 100px;
  }
  .services p {
    font-size: 14px;
  }
  .epa {
    background-color: #774b4f;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    color: white;
  }
  .epa h4 {
    color: #e29d9d;
  }
  #contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #contact h2 {
    grid-column: 1/-1;
  }
  #contact div {
    margin-bottom: 0;
    margin-top: 18px;
  }
  #contact div h4 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #contact div p {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  #contact iframe {
    margin-top: 20px;
    border-radius: 0px 30px 30px 0px;
    -webkit-box-shadow: 3px 3px 10px gainsboro;
            box-shadow: 3px 3px 10px gainsboro;
  }
  #contact form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    margin-top: 40px;
    margin-left: 0;
    -webkit-box-shadow: 2px 2px 5px gainsboro;
            box-shadow: 2px 2px 5px gainsboro;
    border-radius: 30px;
    width: 1000px;
  }
  #contact form div:last-of-type {
    margin-bottom: 20px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  #contact form div {
    margin-left: 20px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  #contact form div p {
    margin-left: 0;
  }
  #contact form button {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  #contact form textarea {
    width: 90%;
    height: 100%;
  }
  .temple {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .7fr;
        grid-template-columns: 1fr .7fr;
    width: 650px;
  }
  .temple p {
    font-size: 17px;
  }
  .temple img {
    grid-column: 1/-1;
    height: 250px;
  }
  .temple h1, .temple h2 {
    font-size: 30px;
    grid-column: 1/-1;
    color: white;
    background-color: #774b4f;
    margin: 0 0 30px 0;
    padding: 10px;
  }
  .temple h3, .temple h4 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .temple div {
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .temple div h4 {
    grid-column: 1/-1;
  }
  .temple .service-div {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .temple .contact-div {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .temple .contact-div p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .temple .contact-div p:nth-of-type(2) {
    margin-top: 30px;
  }
  .next {
    right: 200px;
  }
  .next, .prev {
    top: 40%;
    font-size: 25px;
    padding: 14px;
  }
  #five-day .card-weather {
    width: 650px;
  }
}
/*# sourceMappingURL=home.css.map */