$darkrose : #8B575C;
$lightrose: #C98986;

body{
    margin: 0;
    
    h1, h2, h3, h4, h5, h6{
         font-family: 'Oswald', sans-serif;
     }
}

main{
    max-width: 100%;
    margin: 0 auto;
    div{
        margin-top: 40px;
     }
}
#gilbert{
    box-shadow: 3px 3px 15px gainsboro;
    width: 90%;
    margin: 0 auto;
    h2 {
        margin:20px
    }
    p{
        margin: 20px;
        padding-bottom: 20px;
    }
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
}}
header{
    background-image: url(../images/temple-2.jpg);
     
    margin: 0%;
    max-width: 100%;
    height: 150px;
    /* Location of the image */
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn’t tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn’t move when
    the content’s height is greater than the image’s height */
    background-attachment:scroll;
    
    /* This is what makes the background image rescale based
    on the container’s size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
    color:white;
    

    position: relative;

    h1{
        position: absolute;
        bottom:15%;
        left: 1%;
        font-size: 40px;
    }
}
@media only screen and (min-width:53em){
main{
    max-width: 1000px;
}

#two-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    div{
        display: grid; 
        
        img, p{
        justify-self: center;
    }
    }
   
}
#reserve-div{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr .7fr;
    p{
        margin-left: 70px;
    }
    button{
        width: 200px;
        height: 50px;
        cursor: pointer;
        justify-self: center;
        margin-top: 16px;
    }
}
#gilbert{
    width: 100%;
}

ul {     
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    background-color: $darkrose;
    padding: 10px;
    margin: 0 auto;
    

    li{
        justify-self: center;
       
    }
    li a{
        display: inline-block;
        max-width: 100px;
        color: rgba(255, 255, 255, 0.74);
        text-decoration: none;
    }
    li a:hover{
        color: whitesmoke;
        text-decoration: underline;
    }
}
}