body {
    background-color: white;
}

main{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

header{
    margin: 0%;
    padding: 2%  19%  2% 19%;
    background-color:slategray;
    color: white;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: bold;
}
h3{
    font-weight: 400;
}

h2 {
    margin:0 auto;
    padding: 2%  15.5%  2% 15.5%;
    background-color: lightslategrey;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    color: white;
}

p{margin: 2%  15.5%  4% 15.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

section {
    background-color: whitesmoke;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid 1px lightgray;
    margin: 20px;
    box-shadow: 2px 2px 9px lightgray;
}

img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 70%;
    margin: 2%  15%  6% 15%;
    box-shadow: 5px 5px 10px slategray;
}

footer{
    background-color: slategrey;
    padding: 1%  15%  1% 15%;
    margin:0%;
    color:white;
}

.company{
    margin: 6%  .5%  4% .5%;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:rgb(44, 53, 59);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.description{
    margin-bottom: 10%;
}