img{
    max-width: 300px;
    height:400px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px gainsboro;
    background-color: honeydew;
}

h1{
    font-family: 'Oswald';
    font-weight: 300;
}

h1:hover{
    font-size: 40px;
    color: lightsteelblue;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}