main {
    display:grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: left;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}
header {
    font-family: 'Barlow Condensed', sans-serif;
}
h3{font-weight:300;}


#purpose {
    grid-column: 1/-1;
}

.icon{
    max-width: 20%;
}


nav{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0 auto;
    max-width: 360px;
    background-color:#0D0E0B;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}

#navigation li:first-child{
    display: block;
}

#navigation li{
    display:none;
}
#navigation a{
    display:block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #c2d3cd;
    font-weight: 700;
}

#navigation a:hover, #navigation a.active:hover{
    color:white;
    background-color:#0D3C45 ;
}


#navigation a.active {
    background-color: rgba(0, 0,0, .55);
    color: white;
}

#navigation.responsive li {
    display:block;
}

.opal {
    background-color: #c2d3cd;
    color: black;
}

.ash-gray {
    background-color: #AFBFC0;
    color: black;
}

.midnight-green {
    background-color: #0d3c45;
    color: white;
}

.rich-black {
    background-color: #0D0E0B;
    color: white
}

#color-img {
    max-width: 70%;
    margin: 0 auto;
}

@media only screen and (min-width:32.5em) {
    
    main {
        grid-template-columns: 1fr 1fr;
    }
    header, footer{
        text-align: center;
        
    }
    
    nav {
        max-width: 100%;
    }

    #navigation{
        grid-template-columns: repeat(7,auto);
    }

    #navigation li {
        display: block;
    }

    #navigation a {
        text-align: center;
    }

    #navigation li:first-child{
        display: none;
    }
}

@media only screen and (min-width:54.5em) {
    #navigation {
        width: 800px;
        margin: 16px auto;
    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}