
html, body {
    min-height: 100%;
    }
    body, div, form, input, select, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    form h1 {
    position: absolute;
    margin: 0;
    line-height: 55px;
    font-size: 55px;
    color: rgba(255, 255, 255, 0.788);
    z-index: 2;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
    form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    }
    .banner {
    position: relative;
    height: 230px;
    background-image: url("../images/joh.jpg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
    input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color: #96aeaf ;
    }
    .item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #AFBFC0 ;
    color: #AFBFC0 ;
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    input[type=radio], input[type=checkbox]  {
    display: none;
    }
    label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
    }
    input[type=radio]:checked + label:before, label.radio:hover:before {
    border: 2px solid #AFBFC0 ;
    }
    label.radio:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid #AFBFC0 ;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #AFBFC0 ;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    }
    button:hover {
    box-shadow: 0 0 18px 0 #AFBFC0 ;
    }
    @media only screen and (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input{
    width: calc(50% - 20px);
    }
    
    }

    body{ margin: 0 auto;
        font-family: 'Oswald', sans-serif;}
        
    #logo-home, #logo-home:active, #logo-home:hover, #logo-home:link, #logo-home:visited {
            text-decoration:none ;
            color: white;
            
        }
        nav{
            font-family: 'Oswald', sans-serif;
            margin:0%;
            max-width: 100%;
            background-color:#0D0E0B;
        }
        
        #navigation {
            list-style: none;
            margin:0%;
            grid-template-columns: auto;
            display: grid;
        }
        
        
        #navigation li{
            display:none;
        }
        #navigation a{
            display:block;
            padding: 0.75rem;
            text-align: left;
            text-decoration: none;
            color: #c2d3cd;
            font-weight: 700;
        }
        
        #navigation a:hover, #navigation a.active:hover{
            color:white;
            background-color:#AFBFC0 ;
        }
        
        
        #navigation a.active {
            background-color: rgba(0, 0,0, .55);
            color: white;
            text-decoration: underline;
        }
        
        #navigation.responsive li {
            display:block;
        }
        header{
            display: grid;
            grid-template-columns: .4fr 1fr .2fr;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #0D3C45;
            color:white;
        }
        #top-ham{
            text-decoration: none;
            font-size: 20px;
            color: black;
            margin:10px auto;
        }
        header h1{
            font-size: 20px;
            margin:0px;
            color:white;
        }
        header p{
            margin:0px;
            grid-column: 1/2;
            font-size: 12px;
            color:white;
        }
    
#logo{
    margin:5px auto;
    background-color: black;
    width: 35px;
    font-size: 25px;
    border-radius: 9px;
    text-align: center;
    height:35px;
}

@media only screen and (min-width:38em) {
    
    /* #pancake{
            margin-left: 10px;
        }*/
        main {
            grid-template-columns: 1fr 1fr;
        }
    
        nav {
            text-align: center;
            max-width: 100%;
        }
        header{
            grid-template-columns: .3fr 1fr;
        }
        header div{
            margin:0 50px;
        }

        header h1{
            font-size: 40px;
            margin-top: 15px ;
            margin-bottom: 5px;
        }
        
        #logo{
        margin: 8px 0px 0px 100px;
        background-color: black;
        width: 54px;
        font-size: 40px;
        border-radius: 10px;
        text-align: center;
        height: 53px;
        line-height: 1.4;
        justify-self: end;}
    
        #navigation{
            grid-template-columns: repeat(7,auto);
            max-width: 800px;
            margin:0 auto;
        }
    
        #navigation li {
            display: block;
        }
    
        #navigation a {
            text-align: center;
        }
        
        #top-ham{
            display: none;
        }
    }    

    @media only screen and (min-width:43em) {
        form{
            width: 800px;
        }
    }