    body{ 
        margin: 0 auto;
        font-family: 'Oswald', sans-serif;
    }

/* NAVIGATION AND FOOTER STUFF*/
    nav{
        font-family: 'Oswald', sans-serif;
        margin:0%;
        max-width: 100%;
        background-color:#0D0E0B;
    }
    
    #navigation {
        list-style: none;
        margin:0%;
        grid-template-columns: auto;
        display: grid;
    }
    
    
    #navigation li{
        display:none;
    }
    #navigation a{
        display:block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #c2d3cd;
        font-weight: 700;
    }
    
    #navigation a:hover, #navigation a.active:hover{
        color:white;
        background-color:#AFBFC0 ;
    }
    
    
    #navigation a.active {
        background-color: rgba(0, 0,0, .55);
        color: white;
        text-decoration: underline;
    }
    
    #navigation.responsive li {
        display:block;
    }
    header{
        display: grid;
        grid-template-columns: .4fr 1fr .2fr;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #0D3C45;
        color:white;
        line-height: 22px;
    }
    #top-ham{
        text-decoration: none;
        font-size: 20px;
        color: black;
        margin:10px auto;
    }
    header h1{
        font-size: 20px;
        margin:0px;
        color:white;
    }
    header p{
        margin:0px;
        grid-column: 1/2;
        font-size: 12px;
        color:white;
    }

#logo{
margin:5px auto;
background-color: black;
width: 35px;
font-size: 25px;
border-radius: 9px;
text-align: center;
height:35px;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
#num{
    text-align: left;
    margin: 0 auto;
}
#contact img{
    max-width: 300px;
    margin: 10px auto;
}
#contact{
    margin-top: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #0D3C45;
    color: white;
    max-width: 800px;
}

.mg{
    padding: 10px;
    margin:0 auto;
}
/* FIRST SECTION */
div{
    margin: 0 auto;
    max-width: 800px;
}
#more {display: none;}

/* FEATURED REPORT */


.article{
    box-shadow: 4px 4px 10px gainsboro;
}
.article p, .article button{
    margin: 20px 50px;
}

.article h3{
    margin-left: 10px;
}
#back-img1{
    position: relative;
    height: 230px;
    background-image: url("../images/water.jpg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: white;
}

/* THREE SECTIONS */
#town section p:first-of-type{
    font-style: italic;
    font-size: 15px;
}


#town  {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#town img{
    max-width: 300px;
    margin:0 auto;
}

#town section{
    margin: 10px auto;
    max-width: 100%;
    box-shadow: 2px 2px 5px gainsboro;

}

@media only screen and (min-width:38em){
    #contact{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    #num{
        margin-right: 10%;
    }
    #town section{
        display: flex;
        flex-direction: row;
        width:100%;
        margin-top: 20px;
        box-shadow: 5px 5px 10px gainsboro;
    }
    #town section:hover{
        box-shadow: 7px 7px 11px grey;

    }

    #town section{
        cursor: pointer;
    }
    #town section:first-of-type{
        flex-direction: row-reverse;
    }
    #town section:last-of-type{
        flex-direction: row-reverse;
    }

    #town section p, #town section h2{
        margin: 0 auto;
        text-align: center;
    }

    #town section p{
        margin-bottom: 0px;
        margin-top: 0px;
        max-width: 250px;
        font-size: 17px;
        font-weight: 200;
    }

    #town section h2{
        margin-top: 20px;
    }

    #contact img{
        max-width: 300px;
        margin-left: 10px;
        margin-top: 20px;
    } 
    
    #town img{
        max-width: 300px;
        margin: 0px;
    }
}
@media only screen and (min-width:67em){

#town {
    display: flex;
    flex-direction: row;
    max-width: 1060px;
    height: 500px;
    margin: 20px auto;
    padding: 4px;
}


#town section{
    left: 100px;
    margin: 10px 40px;
    box-shadow: 5px 5px 10px gainsboro;
    flex-direction: column;
}
#town section:hover{
    box-shadow: 7px 7px 11px grey;

}

#town section{
    cursor: pointer;
}
#town section:first-of-type{
    margin:10px 40px 10px 0px;
}
#town section:last-of-type{
    margin:10px 0px 10px 40px;
}

#town section p:nth-of-type(2){
    margin-top: 15px;

}
#town section:first-of-type{
    flex-direction: column;
}
#town section:last-of-type{
    flex-direction: column;
}}
#town section h2{
    text-transform: uppercase;
}


#town section p:first-of-type{
    color: gray;
}


/* 2 articles/ quick tips */



/* MEDIA STUFFFFF AKA RESIZING STUFFS*/


@media only screen and (min-width:38em) {
    
    /* #pancake{
            margin-left: 10px;
        }*/
        main {
            grid-template-columns: 1fr 1fr;
        }
    
        nav {
            text-align: center;
            max-width: 100%;
        }
        header{
            grid-template-columns: .41fr 1fr;
        }
        header div{
            margin:0 50px;
            position: absolute;
            left: 30%;
        }

        header h1{
            font-size: 40px;
            margin-top: 15px ;
            margin-bottom: 5px;
        }
        
        #logo{
        margin: 8px 0px 0px 100px;
        background-color: black;
        width: 54px;
        font-size: 40px;
        border-radius: 10px;
        text-align: center;
        height: 53px;
        line-height: 1.4;
        justify-self: end;}
    
        #navigation{
            grid-template-columns: repeat(7,auto);
            max-width: 800px;
            margin:0 auto;
        }
    
        #navigation li {
            display: block;
        }
    
        #navigation a {
            text-align: center;
        }
        #top-ham{
            display: none;
        }
    }    
