
main{
    box-shadow: 5px 5px 10px black;
    font-family: 'Bebas Neue', cursive;
    max-width: 500px ;
    margin: 0 auto;
    margin-bottom: 50px;
}
body{
    margin: 0 auto;
}

section{
    max-width: 500px;
    margin: 2.5px;
    border: 1px solid gainsboro;
    background-color: #EEF0F2;
}
h1{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
}
header{
    text-align: center;
    background-color: #394F49;
    color: #EEF0F2;
    font-family: 'Bebas Neue', cursive;
}

section p, section h2{
    text-align: center;
}

section img{
    margin-left: 15%;
    margin-bottom: 30px;
}

footer{
    margin: 10px auto;
    text-align: center;
}

@media only screen and (min-width: 43em){

    div{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    section img{
        margin-left: 30%;
        margin-bottom: 30px;
        max-width: 95%;
        height:50%;
        box-shadow: 10px 10px 15px grey;
    }

    section{
        height: 400px;
    }

    main{
        max-width: 95%;
    }
}


@media only screen and (min-width: 55em){

    div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section img{
        margin-left: 15%;
        margin-bottom: 30px;
        max-width: 95%;
        height:50%;
        box-shadow: 10px 10px 15px grey;
    }
}

@media only screen and (min-width: 70em){
    section img{
        margin-left: 30%;
        margin-bottom: 30px;
}}