body{ 
   overflow-x: hidden;
    padding: 0;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

a, a:active{
    color: #0D3C45;
    text-decoration: none;
}
a:hover{
    color: #c2d3cd;
}
/* NAVIGATION AND FOOTER STUFF*/
.body-section{
    margin-top: 39px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px gainsboro;
}

.body-section h5, .body-section h4, .body-section h3{
    font-family: 'Roboto', sans-serif;
}
.body-section section p, .body-section section a{
    margin: 20px;
}
p{
    font-family: 'Roboto', sans-serif;
}

main{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
main div, main section{ 
    max-width: 800px;
    margin: 0 auto;
    }

#logo-home, #logo-home:active, #logo-home:hover, #logo-home:link, #logo-home:visited {
    text-decoration:none ;
    color: white;
    
}

nav{
    font-family: 'Oswald', sans-serif;
    margin:0%;
    max-width: 100%;
    background-color:#0D0E0B;
}

#navigation {
    list-style: none;
    margin:0%;
    grid-template-columns: auto;
    display: grid;
    font-size: 14px;
}


#navigation li{
    display:none;
}
#navigation a{
    display:block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #c2d3cd;
    font-weight: 700;
}

#navigation a:hover, #navigation a.active:hover{
    color:white;
    background-color:#AFBFC0 ;
}


#navigation a.active {
    background-color: rgba(0, 0,0, .55);
    color: white;
    text-decoration: underline;
}

#navigation.responsive li {
    display:block;
}

.body-section h5, .body-section h4, .body-section h3, header, #weather-sum h3{
    background-color: #0D3C45;
    color:white;
    
}
header{
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: .4fr 1fr .2fr;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0D3C45;
    color:white;
}
#top-ham{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin:10px auto;
}
header h1{
    font-size: 20px;
    margin:0px;
    color:white;
}
header p{
    margin:0px;
    grid-column: 1/2;
    font-size: 12px;
    color:white;
    font-family: 'Oswald', sans-serif;
}

#logo{
margin:5px auto;
background-color: black;
width: 35px;
font-size: 25px;
border-radius: 9px;
text-align: center;
height:35px;
}


footer{
text-align: center;
background-color: black;
color: white;
padding: 10px;
}
footer a, footer a:active {
    color: #AFBFC0;
}
#num{
text-align: left;
margin: 0 auto;
}
#contact img{
max-width: 300px;
margin: 10px auto;
}
#contact{
margin-top: 10px;
text-align: center;
display: grid;
grid-template-columns: 1fr;
background-color: #0D3C45;
color: white;
max-width: 800px;
}

.mg{
padding: 10px;
margin:0 auto;
}

/* FIRST LITTLE PART WITH IMG*/
#background-img {
    margin-bottom: 50px;
    margin-top:0px;
    max-width: 800px;
    height: 350px;
    /* Location of the image */
    background-image: url(../images/fish.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn’t tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn’t move when
    the content’s height is greater than the image’s height */
    background-attachment:scroll;
    
    /* This is what makes the background image rescale based
    on the container’s size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;

    

    position: relative;
    }

    #weather-sum{
        background-color: white;
        max-width: 800px;
        margin-top: 30px;
        box-shadow: 5px 5px 10px gainsboro;
    }

    #ma{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        display: block;
        padding-bottom: 20px;
        max-width: 80%;
    }

    #mi-m{
        display: grid;
        grid-template-columns: repeat(5 ,auto);
    }

    .mi{
        max-width: 100%;
        margin: 10px;
        text-align: center;
    }
    .mgs{margin: 0 10px;
        padding: 2px;}
    #mi-m .mi h3{
        
        background-color: white;
        color: black;
    }
    #mi-mg2, #mi-mg1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

   .events{
        display: grid;
        grid-template-columns: 1fr;
        margin: 70px auto;
    }
    
    .events h3{
        grid-column: 1/-1;
        padding: 10px;
        margin: 0;
    }
    
    .events p:first-of-type{
        grid-column: 1/-1;
    }
    .event-list{
        text-align: center;
        justify-self: center;
        border: 1px solid gainsboro;
        height: 179.5px;
        margin:20px;
        width: 200px;
    }
    
    .day {
        font-size: 30px;
    }
    
    .month {
        background-color: #c2d3cd;
        font-size: 20px;
        padding: 10px;
        margin-top: 0;
    }


    @media only screen and (min-width:38em) {

        #background-img {
    
            margin-top:40px;}
        .events{
            grid-template-columns: .5fr .5fr;
        }
        
    /* #pancake{
            margin-left: 10px;
        }*/
        main {
            grid-template-columns: 1fr 1fr;
        }
    
        nav {
            text-align: center;
            max-width: 100%;
        }
        header{
            grid-template-columns: .3fr 1fr;
        }
        header div{
            margin:0 50px;
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            line-height: 15px;
        }

        header h1{
            font-size: 40px;
            margin-top: 5px ;
            line-height: 40px;
        }
        
        #logo{
            margin: 8px 0px 0px 100px;
            background-color: black;
            width: 54px;
            font-size: 40px;
            border-radius: 10px;
            text-align: center;
            height: 53px;
            line-height: 1.4;
            justify-self: end;}
    
        #navigation{
            grid-template-columns: repeat(7,auto);
            max-width: 800px;
            margin:0 auto;
        }
    
        #navigation li {
            display: block;
        }
    
        #navigation a {
            text-align: center;
        }
      
        #top-ham{
            display: none;
        }
       
        #contact{
            max-width: 100%;
            grid-template-columns: 1fr 1fr;
        }
        #num{
            margin-right: 10%;
        }
    
        #contact img{
            max-width: 300px;
            margin-left: 10px;
            margin-top: 20px;
        }
        .go-across{
            grid-column: 1/-1;
        }
        
       #mi-mg2{
           grid-template-columns: repeat(3 ,auto);
       }
       
        
        #ma{ 
            max-width: 500px;
            float: right;
            margin:20px;
        }  
        header div{
            width:100%;
            line-height: 15px;
    }
    }
        
    @media only screen and (min-width:53em) {
        #sm-w-sum{
            display: none;
        }
        #weather-sum{
            display: block;
            position: absolute;
            box-shadow: none;
            top:50px;
            background-color: rgba(248, 248, 255, 0.63);
            left: 20px;
            padding-bottom: 15px;
            
           
        } #weather-sum h3{
            background-color:rgba(248, 248, 255, 0) ;
            color: black;
        }

    #alertBox{
        top: 30%;
        left:23%;
        height: 70px;
    }
    /*#pancake{
        margin:10px auto;
        max-width:800px;
    }*/
    #hero-image{ max-width: 800px;}
    #background-img{
        background-attachment:scroll;
    }
    #num{
        max-width: 400px;
    
    }

    .events{
        grid-template-columns: .5fr .5fr .5fr .5fr;
        width: 900px;
        overflow-x: scroll;
    }
    .events section:first-of-type{
        margin-left: 0;
    }


}

    #alertBox {
        position: absolute;
        top: 30%;
        left:10px;
        height: 70px;
        background-color:#AFBFC0 ;
        border-radius: 10px;
        padding: 20px 10px 10px 20px;
        max-width: 300px;
        z-index: 2;
        text-align: left;
        color: whitesmoke;
    }
    
    #alertClose {
        position: absolute;
        right: -7px;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: left;
    }

    .text-img h1{
        padding: 290px 0px 10px 20px;
        color: white;
    }
    

 